@media (max-width: 320px){
    header{
        width: 100%;
    }
    .nav-list{
        display: flex;
        margin: 0% -15%;
    }
    .nav-link{
        font-size: 1.2rem !important;
    }
    .logo-imagem{
        width: 50%;
        margin: 0% 58% !important;
    }
    
    .slider{
        width: 90%;
        height: 35% !important;
    }

    .slide{
        height: 45%;
    }

}

@media (max-width: 576px){
    header{
        width: 100%;
    }
    .nav-list{
        margin: 0% 10%;
    }
    .nav-link{
        font-size: 1.5rem !important;
    }
    .logo-imagem{
        width: 55%;
        margin: 0% 120%;
    }
    
    .slider{
        width: 90%;
        height: 35% !important;
    }

    .slide{
        height: 75%;
    }    
}

@media (max-width: 768px){
    header{
        width: 100%;
    }
    .nav-list{
        margin: 0% 10%;
    }
    .nav-link{
        font-size: 1.7rem !important;
    }
    .logo-imagem{
        width: 70%;
        margin: 0% 125%;
    }
    
    .slider{
        width: 90%;
        height: 35% !important;
    }

    .slide{
        height: 75%;
    }  
}

@media (max-width: 992px){}

@media (max-width: 1200px){}