*{
    margin:0,;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
  /** cor background **/

.bs-body-color{
    background-color: rgb(238, 238, 238) !important;
}   

.bg-primary{
    background-color: rgb(217, 165, 66) !important;
}




/** cor border **/

.border-primary{
    border-color: rgb(161, 64, 21) !important;
}



/** cor text **/

.text-primary{
    color: rgb(161, 64, 21) !important;
}


/** header **/
header{
    height: 10%;

}

/** cards **/

.card{
    width: 25rem;
}



/* blog 1º parte */


#sessaoBlog{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 4%;
}

#sessaoBlog h3{
    text-align: center;
    margin: 70px 0px;
}

.row {
    background-color: rgb(217, 165, 66);
    border:rgb(161, 64, 21) solid 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header_ {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.leftcolumn {
    float: left;
    width: 55%;
}
.leftcolumn p {
    text-align: left;
    text-indent: 15px;
}
p{
    color:rgb(161, 64, 21) ;
}
h5{
    color:rgb(161, 64, 21) ;
}
h2{
    color:rgb(161, 64, 21) ;
}
h3{
    color:rgb(161, 64, 21) ;
}
h1{
    color:rgb(161, 64, 21) ;
    font-size: 28px;
}
  .rightcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    border: 2px solid rgb(161, 64, 21);
   
  }
  
  .rightcolumn p {
    text-align: left;
    text-indent: 15px;
  }
  .fakeimg1 img{
    background-color:rgb(161, 64, 21);
    width: 102%;
    padding: 10px;
    height: 50%;
    margin: 20px -5px;

  }

  .fakeimg2 img{
    background-color:rgb(161, 64, 21);
    width: 80%;
    height: 90%;
    padding: 10px;
    margin: -18px 7px;
    
  }
  .fakeimg3 img{
    background-color:rgb(161, 64, 21);
    width: 82%;
    height: 70%;
    padding: 10px;
    margin: -3px -5px;
  }

  .fakeimg_ img{
    background-color: rgb(161, 64, 21);
    width: 80%;
    padding: 10px;
    
  }

  .fakeimg_ p{
    text-align: left;
    margin: 0px -2px;
   
  }

  .imagens img{
    background-color: rgb(161, 64, 21);
    height: 60%;
    width: 80%;
    padding: 10px;
  }
  .card_1 {
    background-color:rgb(217, 165, 66);
    padding: 20px;
    
  }

.card_1 p{
    margin: 0px -2px;
}

.card_1 h3{
    padding: 5px 0px;
    margin: 10px -2px;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .container_comment {
      width: 100%;
      padding: 0;
    }
  }
  
/* blog */

.container_comment {
    background-color: rgb(217, 165, 66);
    padding: 20px;
    font-family: monospace;
    margin: auto;
    height: 20%;
    width: 80%;
    margin-bottom: 20px;
    
}

.head {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
    
}

.commentbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

#qtdComentarios{
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(161, 64, 21);
}

.content {
    width: 100%;  
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    padding: 10px;
    
    
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid rgb(161, 64, 21);
    margin-bottom: 10px;
    width: 95%;
   
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.buttons > button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons > button.abled {
    background: rgb(161, 64, 21);
    color: #fff;
}

.policy {
    margin: 20px 0;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    color: #808080;
}

.policy a {
    text-decoration: none;
    color: rgb(161, 64, 21);
}

.notify {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.notify > input {
    margin-right: 5px;
    border: 2px solid #808080;
}

.parents {
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;

}

.engagements img:nth-child(1) {
    margin-right: 10px;
    width: 25px;
}

.date {
    color: #808080;
    font-size: 0.8em;
}    

#galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    margin: 50px 0px;
}
.galeria-fotos{
    width: 250px;
    height: 250px;
    border: 4px solid rgb(161, 64, 21);
    box-shadow: 5px 5px 5px #0006;
    transition: transform 0.3s ease-in-out;
}

.galeria_itens{
    width: 250px;
    height: 250px;
    border:  10 px solid rgb(161, 64, 21);;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;

}
.galeria_itens img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.galeria_itens:active{
    transform: scale(1.3)}
 .container{
    max-width: 1170px;
    margin: auto;
   
 }
ul{
    list-style: none;
}
.row_{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color:  rgb(217, 165, 66);
    padding: 70px 0;

   
}
.footer-col{
    width: 33%;
    padding: 0 15px;
    
}
.footer-col h3{
    font-size: 28px;
    color: rgb(161, 64, 21);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(161, 64, 21);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(161, 64, 21);
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: rgb(161, 64, 21);
    padding-left: 8px;
}
.footer-col .contato-links ul li{
    color: rgb(161, 64, 21);
} 
.footer-col .sociais-links ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col1{
    width: 10%;
}
.footer-col .sociais-links ul li a:hover{
    color: rgb(161, 64, 21);
    background-color: #fff;
}
.footer-col .contato-links ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .contato-links ul li a:hover{
    color: rgb(161, 64, 21);
    background-color: #fff;
}
.bottom-bar{
    background:  rgb(224, 184, 109);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
        color: #23232e;
        margin: 0;
        font-size: 16px;
        padding: 7px;
        color:rgb(161, 64, 21) ;
}